*__pycache__*
init.sh
db.sqlite3

node_modules/
.my/
.tmp/
.var/
.idea/
.vscode/

media-storage/

.DS_Store
*.xml
*.iml
.name
*.orig
npm-debug.log
npm-debug.log*
*scsslint_tmp*
*_REMOTE_*.*
*_BASE_*.*
*_LOCAL_*.*
*_BACKUP_*.*
/.config.*.json
.env
.env.dev
.env.staging
.env.prod

.env.ci
.ansible_enc_key

celerybeat.pid
celerybeat-schedule
